:root {
  --text-body: rgb(54, 49, 61);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --text-high-contrast-rgb-value: 49, 49, 49;
}
.embla__viewport {
  max-width: 100%;
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: -0.25rem;
}
.embla__button {
  position: absolute;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button--prev {
  top: calc(50% - 1.8rem);
  left: 0;
}

.embla__button--next {
  top: calc(50% - 1.8rem);
  right: 0;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 100%;
  height: 100%;
}
.embla__dots {
  position: absolute;
  bottom: 0;
  right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem var(--detail-medium-contrast);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.1rem var(--text-body);
}
